@import 'shared/smoex-frontend-basic/styles/moblie.scss';

$header-height: 48px;

.install {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid gray;
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 0 16px;
  z-index: 1;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-wrapper {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid gray;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  padding: 0 16px;

  &.overlay {
    z-index: 1;
  }
}

.header-logo {
  color: black;
  text-decoration: none;

  &--disable {
    pointer-events: none;
  }
}

.menu-modal {
  background-color: white;
  max-height: 70%;
  overflow-y: scroll;
  // margin-top: $header-height;
  padding: 16px;
  position: relative;
  transform: translateY(-100%);
  transition: transform 0.3s;

  &.shown {
    transform: translateY(0);
  }
}

.account-intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
}

.intro-avatar {
  border: 1px solid gray;
  border-radius: 50%;
  height: 80px;
  margin-bottom: 10px;
  padding: 20px;
  width: 80px;
}

.intro-login {
  // margin-top: 10px;
}

.controller {
  height: 40px;
}

.controller-wrapper {
  background-color: white;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  right: 0;
}

.controller-btn {
  font-size: 20px;
  padding: 8px 16px;
}
