.toast-layer {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  padding-top: 60vh;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  touch-action: none;
  user-select: none;
  z-index: 7000;
}

.toast {
  background-color: rgba(black, 0.6);
  border-radius: 4px;
  color: white;
  margin: 0 32px;
  margin-bottom: 8px;
  padding: 8px 16px;
  text-align: center;
  translate: all 0.3s;
}
